<form asp-controller="Login" asp-action="Login" class="form-control">
    <div>
        <label>Введите ваше имя:</label>
        <input type="text" name="name" class="form-control" />
    </div>
    <div>
        <label>Введите пароль:</label>
        <input type="password" name="password" class="form-control" />
    </div>
    <button type="submit" class="btn btn-info">Отправить</button>
</form>
